<div class="c-show-plant">
  <a class="c-show-plant__link">
    <div class="c-show-plant__container">
      <span class="c-show-plant__link-content o-font-subtitle">Recomendaciones para el cultivo</span>
      <svg class="c-show-plant__icon o-icon-arrow" width="32" height="32" viewBox="0 0 32 32" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle opacity="0.05" cx="16" cy="16" r="16" fill="#0C9359" />
        <path d="M17.172 16L12.222 11.05L13.636 9.63599L20 16L13.636 22.364L12.222 20.95L17.172 16Z" fill="#0C9359" />
      </svg>
    </div>
  </a>
</div>