<section class="c-section-back">
  <img class="c-section-back__image" [src]="getImage()">
  <button class="c-button">
    <a routerLink="/home" class="c-button__container">
      <svg class="c-button__icon" width="8" height="12" viewBox="0 0 8 12" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.85056 6.0435L7.15491 1.73915L5.92534 0.509583L0.391429 6.0435L5.92534 11.5774L7.15491 10.3478L2.85056 6.0435Z" />
      </svg>
      <span class="c-button__content o-font-title">volver</span>
    </a>
  </button>
</section>