.o-button {
  &-color-g100 {
    background-color: var(--color-primary---green100);
  }

  &-color-w200 {
    background-color: var(--color-neutral---white200);
  }

  &-color-w600 {
    background-color: var(--color-neutral---white600);
  }

  &-color-w700 {
    background-color: var(--color-neutral---white700);
  }

  &-text-color-w700 {
    color: var(--color-neutral---white700);
  }
}