.o-card {

  &-smaller {
    width        : 120px;
    text-align   : center;
    height       : 112px;
    // height    : fit-content;
  }

  &-small {
    // height: fit-content;
    width : 150px;
    height: 112px;
  }

  &-large {
    // height: fit-content;
    width   : 192px;
    height  : 112px;
    // width: 185px;
  }

  &-extra-large {
    height: 112px;
    width : 100vmin;
  }
}