.box-temperature {
  box-shadow   : 0px 7px 21px rgba(0, 0, 0, 0.12);
  border-radius: 12px;

  &__title {
    color: var(--color-neutral---black300);
  }

  &__temperature {
    color: var(--color-neutral---white900);
  }

  &__container {
    display       : flex;
    flex-direction: column;
    padding       : .5em 0;
    padding-left  : 1em;
    padding-right : 1em;
    gap           : 1em;
    align-items   : center;
  }
}