span {
  color: var(--color-neutral---black500);
}

.temperatures {
  display       : flex;
  flex-direction: column;
  gap           : 1em;

  &__container {
    display  : flex;
    flex-flow: row wrap;
    gap      : .5em;
  }
}