.c-section {
  &-stages {
    display    : flex;
    align-items: center;
    gap        : .875em;

    &__title {
      color: var(--color-neutral---black400);
    }
  }
}

.c-select-box {
  position: relative;
  width   : 100vw;

  &__container {
    outline         : none;
    padding         : .43em 1.06em;
    color           : var(--color-neutral---black300);
    background-color: var(--color-primary---green100);
    appearance      : none;
    border          : 0;
    border-radius   : .65em;
    width           : 100%;

    &-option {}

  }

  &__icon {
    position: absolute;
    right   : 24px;
    top     : 9px;
    fill    : var(--color-neutral---black300);
  }
}