main {
  display       : flex;
  gap           : .625em;
  flex-direction: column;
}


main {
  padding      : .75em 0;
  padding-right: 1.25em;
  padding-left : 1.25em;
}


ion-content,
ion-header {
  --background: var(--color-white);
}